@model TripViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
        <h3 class="text-dark mb-4">Add a trip</h3>
        <div class="card shadow">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Trip Info</p>
            </div>
            <div class="card-body">
                <form>
                @Html.ValidationSummary()
                    <div class="row" style="margin-right: 8px;margin-left: 8px;">
                        <div class="col" style="padding: 12px;">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <input class="form-control" type="date" />
                            </div>
                        <div class="form-group">
                            <label asp-for="People" class="control-label">people</label>
                            <input asp-for="People" type="text" class="form-control" placeholder="1" />
                        </div>
                        </div>
                        <div class="col-lg-5" style="padding: 12px;">
                                <div class="form-group">
                                    <label class="control-label">Means of transport</label>
                                    <select asp-for="Vehicle_Modifier" name="vehicles" class="form-control">
                                        <option value="Scooter_electric">Scooter - Electric</option>
                                        <option value="car">Car - Gas</option>
                                        <option value="motorcycle">Bike/Walk</option>
                                        <option value="plane">Motor</option>    
                                    </select>
                                </div>
                                <div class="form-group">
                                   <label asp-for="Distance" class="control-label">Distance</label>
                                   <input asp-for="Distance" class="form-control" type="text" placeholder="Enter distance" />
                                </div>
                        </div>
                        <div class="col d-flex d-sm-flex d-lg-flex flex-column align-items-center justify-content-sm-center align-items-sm-center align-items-lg-center" style="padding: 12px;">
                            <div class="form-group">
                                <input class="form-control btn btn-primary" type="submit" />
                            </div>
                        </div>
                    </div>
                </form>
            @if (Model.score.ToString() != "NaN")
            {
                <section>
                    <h1> @Model.score </h1>
                </section>

            }
            </div>
        </div>
</div>