@model TripViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<form method="post">
    @Html.ValidationSummary()
    <p>
        <label asp-for="Distance">Distance</label>
        <input asp-for="Distance" type="text" placeholder="Enter distance" />
        <label asp-for="People">people</label>
        <input asp-for="People" type="text" placeholder="1"/>
    </p>
    <p>
        <input type="submit" value="enter" />
    </p>
</form>
@if(Model.score.ToString() != "NaN")
{
    <section>
       <h1> @Model.score </h1>
    </section>

}
 


