html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btnSort {
    background-color: white;
    color: #858796;
    border: none;
    padding: 0 !important;
    cursor: pointer;
    text-align: left;
}x`

.btnSort:hover{
    border: none;
}